#WebPal-container {
  z-index: 99997;
  position: fixed;
  bottom: 0px;
  right: -10px;
  display: flex;
  align-items: flex-end;
}

#WebPal-character {
  width: 170px;
  height: 170px;
  filter: drop-shadow(3px 4px 4px rgba(0,0,0,0.7));
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#WebPal-textbubble {
  position: absolute;
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 10px;
  opacity: 0;
  bottom: 140px;
  right: 70px;
  width: max-content;
  text-align: center;
  min-width: 90px;
  max-width: 250px;
  box-shadow: 2px 2px 15px -10px black;
  display: var(--fadeBlockness);
  transition: var(--fadeMessageInOut);
}
#WebPal-textbubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 23px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 17px solid #eeeeee;
  right: 40px;
  bottom: -14px;
  transform: rotate(39deg);
}
#WebPal-text {
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
  margin: 0;
}
#WebPal-clickdetector {
  z-index: 99998;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
}
#WebPal-screendimmer {
  z-index: 99996;
  opacity: var(--fadeOpacityVal);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0,   49%);
  display: var(--fadeBlockness);
  transition: var(--fadeMessageInOut);
}
#WebPal-container.show-bubble #WebPal-textbubble {
  opacity: 1;
}
#WebPal-answerscontainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
#WebPal-answerscontainer div {
  text-align: center;
  display: flex;
  flex: 1;
  padding: 4px;
}
.WebPal-answerBtn {
  background-color: pink;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 10px 5px;
  box-shadow: inset -1px -2px 11px -5px #ff3c3c;
}
:root {
  --fadeMessageInOut: opacity 0.2s ease;
  --fadeBlockness: none;
  --fadeOpacityVal: 0;
}